* {
    box-sizing: border-box;
}

body {
    background-color: #0693e3;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #0693e3;
    height: 90px;

}

.navbarlistdiv {
    margin-left: 700px;
}

.navbarlist li {
    display: inline-block;
    list-style-type: none;

}

.navbarlist li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 35px;
}

.header {

    height: 380px;
    background-color: rgb(164, 174, 226);
    color: white;
}

.header h1 {
    font-size: 40px;
}

.header p {
    font-size: 25px;
}

.header .text1 {

    padding: 50px;
    text-align: center;
}

.headerbutton {
    background-color: #0693e3;
    ;
    font-size: 25px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.headerbutton:hover {
    background-color: white;
    color: #0693e3;

}

.maindiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    margin: 10px;
    color: white;

}

.maindiv .mainelement {
    border: 2px solid white;
    border-radius: 25px;
    background-color: rgb(53, 80, 238);
    flex: 30%;
    height: 150px;


}

.maindiv div a {
    text-decoration: none;
    color: black;
    font-size: 20px;

}

i {
    font-size: 40px;
}

.footer {
    background-color: gray;
    display: flex;
}

.leftpart {
    flex: 60%;
}

.phoneicon {
    margin: 20px;
    padding: 20px;
}

.info {
    /* margin:50px; */
    padding: 20px 20px 50px 20px;
}

.rigtpart {
    flex: 40%;

}

.icons {
    display: flex;
    gap: 40px;
    margin-top: 30px;

}

.formdiv {
    margin: 30px;

}

.footertext {
    display: flex;
    background-color: rgb(39, 36, 36);
    padding: 10px;
    color: rgb(228, 221, 221);
}

.lefttext {
    display: flex;
    flex: 30%;
    justify-content: flex-end;
    margin-right: 50px;

}

.sefoheader {
    color: white;
    border: 1px solid gray;
    text-align: center;
}

.iletisimbilgi {
    color: white;
    border: 1px solid gray;
    text-align: center;
}

.iletisimdiv {
    display: flex;

}

.iletisimdivalt {
    justify-content: center;
    align-items: center;
}

.iletisimtable {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
}

.iletisimtable tr,
th,
td {
    color: white;
    padding: 20px;


}